{% include "header.html" %}
<div class="container">
    <div class="container1">
        <h1>Collection Reverse</h1>
        <form action="">
            <fieldset>
                <div>

                    <label for="loanId">Loan Id<span class="danger">*</span></label><br>
                    <input type="number" id="loanId" name="loanId">
                    <button type="button" class="button">Fetch</button>

                </div>
            </fieldset>
            <fieldset>
                <legend>Customer Details</legend>
                <div>

                    <label for="region">Region</label><br>
                    <input type="text" id="meetingPurpose" name="meetingPurpose">

                </div>
                <div>

                    <label for="branch">Branch</label><br>
                    <input type="text" id="branch" name="branch">

                </div>
                <div>

                    <label for="center">Center</label><br>
                    <input type="text" id="center" name="center">

                </div>
                <div>

                    <label for="groupCode">Group Code</label><br>
                    <input type="text" id="groupCode" name="groupCode">

                </div>
                <div>

                    <label for="customerId">Customer Id</label><br>
                    <input type="text" id="customerId" name="customerId">

                </div>
                <div>

                    <label for="fName">First Name</label><br>
                    <input type="text" id="fName" name="fName">

                </div>
                <div>

                    <label for="lName">Last Name</label><br>
                    <input type="text" id="lName" name="lName">

                </div>
                <div>

                    <label for="adhaarCard">AdhaarCard</label><br>
                    <input type="number" id="adhaarCard" name="adhaarCard">

                </div>
                <div>

                    <label for="product">Product</label><br>
                    <input type="text" id="product" name="product">

                </div>
                <div>

                    <label for="purpose">Purpose</label><br>
                    <input type="text" id="purpose" name="purpose">

                </div>
                <div>

                    <label for="collectionSequence">Collection Sequence No.</label><br>
                    <input type="text" id="collectionSequence" name="collectionSequence">

                </div>
                <div>

                    <label for="amountCollected">Amount Collected</label><br>
                    <input type="number" id="amountCollected" name="amountCollected">

                </div>
                <div>

                    <label for="collectionDate">Collection Date</label><br>
                    <input type="date" id="collectionDate" name="collectionDate">

                </div>
                <div>

                    <label for="collectionType">Collection Type</label><br>
                    <input type="text" id="collectionType" name="collectionType">

                </div>
                <div>

                    <label for="collectionStatus">Collection Status</label><br>
                    <input type="text" id="collectionStatus" name="collectionStatus">

                </div>
                <div>

                    <label for="collectedBy">Collected By</label><br>
                    <input type="text" id="collectedBy" name="collectedBy">

                </div>
            </fieldset>

        </form>
        <div class="buttons">
            <button type="button" class="button1">Reverse</button>
            <button type="button" class="button1">Clear</button>
        </div>
    </div>
</div>
{% include "footer.html" %}